@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Header Section */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 72px;
}

.navbar-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.shop-icon,
.logo,
.nav-icons div {
  display: flex;
  align-items: center;
  height: 100%;
}

.shop-icon {
  flex: 1;
}

.nav-icons {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.logo {
  flex: 2;
  display: flex;
  justify-content: center;
}

.shop-icon img,
.nav-icons img {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.logo img {
  width: 240px;
}

.menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.close-menu {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-list li {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.menu-list li:hover {
  color: #555;
}

.menu-bar.show {
  transform: translateX(0);
}

.menu-bar.hidden {
  transform: translateX(100%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.user-header {
  position: relative;
  text-align: center;
  color: #fff;
  margin-top: -5px;
}

.user-background {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
}

.user-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 16%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.user-name {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  white-space: nowrap;
}

/* Main Section */

.wishlist-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 10px;
  margin-top: 6%;
  background: none;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 20px;
  position: relative;
}

.sidebar-menu li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #333;
  display: block;
  padding: 5px 36px;
}

.sidebar-menu li a::after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background-color: #333;
  margin-top: 5px;
  transition: width 0.3s ease;
}

.sidebar-menu li a.active::after,
.sidebar-menu li a:hover::after {
  width: 200px;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.sidebar-menu li a.active {
  font-weight: 400;
  color: #000;
}

/* Title Section */
.title-section {
  text-align: right; /* Align text to the right */
  margin-bottom: 20px;
  padding-right: 20px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Lato", sans-serif;
  color: #000000;
}

.section-subtitle {
  font-size: 18px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

.wishlist-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.wishlist-card {
  background: #fff;
  padding: 40px; /* Tambahkan padding */
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow lembut */
  width: 89%; /* Atur lebar menjadi 80% dari container */
  max-width: 1000px; /* Batas maksimum agar tidak terlalu lebar */
  margin: 0 auto; /* Pusatkan konten */
  border: 1px solid #000;
}

.wishlist-empty {
  text-align: center;
  font-size: 28px; /* Perbesar teks */
  color: #888;
  /* Tambahkan spasi antar elemen */
}

.wishlist-message {
  text-align: center;
  font-size: 18px; /* Perbesar teks */
  color: #888;
  margin-bottom: 100px; /* Tambahkan spasi antar elemen */
}

.find-product-button {
  display: block;
  width: 100%; /* Lebar tombol mengikuti konten */
  padding: 20px; /* Tambahkan padding pada tombol */
  font-size: 18px; /* Perbesar ukuran teks tombol */
  font-weight: 600;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Perbesar shadow */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.find-product-button:hover {
  background-color: #333;
  transform: translateY(-2px);
}

/* Footer Section */
.footer-section {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-brand {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo img {
  width: 300px;
  margin-bottom: 0px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 75px;
  margin-bottom: 0;
}

.social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer-brand p {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 15px;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
  flex: 1;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-column address {
  font-style: normal;
  line-height: 1.6;
  font-size: 16px;
}

.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-copyright,
.footer-created {
  font-size: 14px;
  color: #bbb;
  margin: 0;
}
